/* intro__inner */
.intro__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}
.intro__images {
    width: 27%;
}
.intro__text {
    width: 70%;
    font-size: 1.6rem;
    font-weight: 300;
}

.intro__inner.center {
    flex-direction: column;
} 
.intro__images.center .intro__images {
    width: 100%;
    max-width: 300px;
    margin-bottom: 3%;
}
.intro__text.center .intro__text {
    text-align: center;
    padding: 0 10%;
}