#blog__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog__inner .left {
    width: calc(100% - 340px);
}
.blog__inner .right {
    width: 320px;
    border-left: 1px solid var(--color__black);
}
.blog__wrap {
    padding: 100px 0;
}
.blog__wrap h2 {
    display: inline-block;
    border: 1px solid var(--color__black);
    font-size: 1em;
    padding: 0.1em 1em;
    margin-bottom: 1.6em;
    transition: all 0.3s;
}
.blog__wrap h2:hover {
    background-color: var(--color__black);
    color: var(--color__white);
    cursor: grabbing;
}
.blog__aside {
    padding: 0 20px;
}
.blog__aside .intro {
    padding: 40px;
    text-align: center;
}
.blog__aside .intro .text {
    margin-bottom: 20px;
    font-weight: 300;
}
.blog__aside .cate {
    border-top: 2px solid var(--color__black);
    margin-bottom: 50px;
}
.blog__aside .cate h4 {
    display: inline-block;
    background-color: var(--color__black);
    color: var(--color__white);
    padding: 0 4px 2px 4px;
}
.blog__search {
    padding: 100px 0 25px;
    text-align: center;
}
.blog__search h2 {
    font-size: 2rem;
}
.blog__search p {
    margin-bottom: 50px;
}
.blog__search .search {

}
.blog__search .search button {

}
.blog__search .search input {}


/* cards__inner */
.cards__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards__inner > .card {
    width: 24%;
}
.cards__inner.col2 > .card {
    width: 49%;
}
.cards__inner.col3 > .card{
    width: 32.3333%;
}
.cards__inner.col4 > .card  {
    width: 24%
}
.cards__inner.col6 > .card  {
    width: 15.6666%
}
.card__img {}
.card__img img {
    filter: seturate(1);
    transition: all 0.3s;
}
.card__img img:hover {
    filter: saturate(0);
}
.card__title h3 {
    font-size: 1.3em;
    text-decoration: underline;
    text-underline-position: under;
    padding: 0.3em 0;
    overflow: hidden;
    text-overflow: hidden;
    white-space: nowrap;
}
.card__title p {
    font-size: 1.1em;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    -webkit-box-pack: justify;
    margin-bottom: 1em;
}
.card__inner.line3 .card__title p {
    -webkit-line-clamp: 3;
}
.card__inner.line2 .card__title p {
    -webkit-line-clamp: 2;
}
.card__info {
    margin-bottom: 3em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.card__info .more {
    position: relative;
    padding-left: 40px;
}
.card__info .more::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color__black);
    position: absolute;
    left: 0;
    top: -8px;
}
.card__info .more::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646447 8.64645C0.451184 8.84171 0.451184 9.15829 0.646447 9.35355C0.841709 9.54882 1.15829 9.54882 1.35355 9.35355L0.646447 8.64645ZM9.5 1C9.5 0.723858 9.27614 0.5 9 0.5L4.5 0.5C4.22386 0.5 4 0.723858 4 1C4 1.27614 4.22386 1.5 4.5 1.5L8.5 1.5L8.5 5.5C8.5 5.77614 8.72386 6 9 6C9.27614 6 9.5 5.77614 9.5 5.5L9.5 1ZM1.35355 9.35355L9.35355 1.35355L8.64645 0.646447L0.646447 8.64645L1.35355 9.35355Z' fill='white'/%3E%3C/svg%3E");
    width: 10px;
    height: 10px;
    position: absolute;
    left: 10px;
    top: 2px;
    transition: all 0.3s;
}
.card__info .more:hover::after {
    transform: rotate(405deg);
}
.card__info .author {
    position: relative;
    padding-left: 40px;
}
.card__info .author::after {
    content: "";
    background-image: url(../img/intro01.png);
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: -2px;
    transition: all 0.3s;
}
.card__info .date {
    color: #666;
    font-size: 0.8em;
}
