/*
    +header
    +nav
    +footer
*/
/* header__inner */
#header {
    position: relative;
}
.header__inner {
    border-bottom: 3px solid var(--color__black);
    position: relative;
}
.header__inner::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color__black);
    position: absolute;
    left: 0;
    top: 49%;
    z-index: 1;
}
.header__inner .left {
    position: absolute;
    left: 0;
    top: 15px;
    z-index: 10;
    background-color: var(--bg__gray);
}
.header__inner .left .star2 {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid var(--color__black);
    border-radius: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0L7.34708 4.1459H11.7063L8.17963 6.7082L9.52671 10.8541L6 8.2918L2.47329 10.8541L3.82037 6.7082L0.293661 4.1459H4.65292L6 0Z' fill='black'/%3E%3C/svg%3E");
    background-position: center;
    transition: transform 1s ease-out;
}
.header__inner .left .star2:hover {
    transform: rotate(400deg);
}
.header__inner .logo {
    text-align: center;
    padding: 1rem;
    font-size: 1.25rem;
}
.header__inner .logo a {
    display: inline-block;
    background-color: var(--bg__gray);
    position: relative;
    z-index: 100;
    padding: 0 10px;
}
.header__inner .right {
    position: absolute;
    right: 0;
    top: 18px;
    z-index: 10;
}
.header__inner .right li {
    display: inline-block;
}
.header__inner .right a {
    font-size: 0.88rem;
    border: 1px solid var(--color__black);
    padding: 4px 12px;
    border-radius: 30px;
    transition: all 0.2s;
    background-color: var(--bg__gray);
}
.header__inner .right a:hover {
    background-color: var(--color__black);
    color: var(--color__white);
}
/* nav__inner */
.nav__inner {
    position: absolute;
    left: 50%;
    top: 51px;
    transform: translateX(-50%);
    z-index: 100;
    width: 100%;
    text-align: center;
}
.nav__inner li {
    display: inline-block;
}
.nav__inner li a {
    background-color: var(--bg__gray);
    padding: 2px 4px;
    border: 1px solid var(--color__black);
    font-size: 0.88em;
}
.nav__inner li a:hover {
    background-color: var(--color__black);
    color: var(--color__white);
}

/* footer__inner */
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
    padding-top: 5px;
}

/* media */
@media (max-width:600px) {
    .header__inner .left {
        display: none;
    }
    .header__inner .right {
        display: none;
    }
}