:root {
    --main__font : "GmarketSans";
    --main__win : "NanumSquareNeo";

    --font__size: "16px";

    --color__black: #000;
    --color__white: #fff;

    --bg__gray: #eee;
    --bg__gray2: #e0e0e0;
    --bg__gray3: #d4d4d4;
    --bg__black: #000;
    --bg__red: #ff0000;
}

@media (max-width: 800px){
    
}