h1 {
  text-align: center;
}
div {
  display: flex;
  justify-content: center;
}
a {
  display: block;
  padding: 20px 40px;
  border: 1px solid #000;
  background-color: #ccc;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s;
  font-weight: bold;
}
a:hover {
  background-color: #808788;
}
h2 {
  text-align: center;
}