main {
    width: 100%;
    overflow: hidden;
}

/* #header */
#header {
    position: absolute;
    left: 20px;
    top: 20px;
}
#header h1 {
    margin-bottom: 0.3em;
}
#header ul {
    margin-top: 0.6em;
}
#header li {
    display: inline-block;
}
#header li a {
    color: #fff;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
}
#header li.active a {
    background: #fff;
    color: #000;
}

/* footer */
#footer {
    text-align: center;
    padding: 100px 0;
}
#footer a {
    color: #fff;
}
#footer a:hover {
    text-decoration: underline;
}

/* 위에는 소스 퍼옴 // 밑에는 작성 */

/* parallax__nav */
.parallax__nav {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 2000;
    background-color: rgba(0,0,0,0.4);
    padding: 20px 30px;
    border-radius: 50px;
}
.parallax__nav li {
    display: inline;
    margin: 0 5px;
}
.parallax__nav li a {
    display: inline-block;
    padding: 5px 20px;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
.parallax__nav li.active a {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    box-sizing: content-box;
}

/* parallax__wrap */
#parallax__wrap { 
    max-width: 1600px;
    width: 98%;
    margin: 0 auto;
    /* background-color: rgba(255, 255, 255, 0.15); */
}
.parallax__item {
    width: 1000px;
    max-width: 70vw;
    margin: 30vw auto;
    /* background-color: rgba(255,255,255, 0.3); */
    margin-right: 0;
    position: relative;
    padding-top: 8vw;
}
.parallax__item:nth-child(even){
    margin-left: 0;
    text-align: right;
}
.parallax__item:nth-child(even) .parallax__item__num {
    /* left의 값을 초기화 시킴 */
    left: auto;
    right: -5vw;
}
.parallax__item:nth-child(1) .parallax__item__img {
    background-image: url(../img/slider_bg01b.jpg);
}
.parallax__item:nth-child(2) .parallax__item__img {
    background-image: url(../img/slider_bg02b.jpg);
}
.parallax__item:nth-child(3) .parallax__item__img {
    background-image: url(../img/slider_bg03b.jpg);
}
.parallax__item:nth-child(4) .parallax__item__img {
    background-image: url(../img/slider_bg04b.jpg);
}
.parallax__item:nth-child(5) .parallax__item__img {
    background-image: url(../img/slider_bg05b.jpg);
}
.parallax__item:nth-child(6) .parallax__item__img {
    background-image: url(../img/slider_bg06b.jpg);
}
.parallax__item:nth-child(7) .parallax__item__img {
    background-image: url(../img/slider_bg07b.jpg);
}
.parallax__item:nth-child(8) .parallax__item__img {
    background-image: url(../img/slider_bg08b.jpg);
}
.parallax__item:nth-child(9) .parallax__item__img {
    background-image: url(../img/slider_bg09b.jpg);
}
.parallax__item__num {
    font-size: 35vw;
    font-weight: 300;
    font-family: "Lato";
    position: absolute;
    left: -5vw;
    top: -16vw;
    opacity: 0.07;
    z-index: -2;
}
.parallax__item__title {
    font-weight: bold;
}
.parallax__item__imgWrap {
    width: 100%;
    /* 이렇게 주면 화면을 줄이면 같이 줄여짐(반응형) */
    padding-bottom: 56.25%;
    /* background-color: #000; */
    position: relative;
    z-index: -1;
    overflow: hidden;
}
.parallax__item__img {
    position: absolute;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 125%;
    background-image: url(../img/slider_bg01a.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: saturate(0%);
    transition: filter 1s;
}
.parallax__item__desc {
    font-size: 3vw;
    line-height: 1.4;
    margin-top: -5vw;
    margin-left: -4vw;
    word-break: keep-all;
    text-align: left;
}
.parallax__item:nth-child(even) .parallax__item__desc {
    /* margin-left값 초기화 auto */
    margin-left: auto;
    margin-right: -4vw;
}
.parallax__info {
    position: fixed;
    left: 20px;
    bottom: 20px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.4;
}

/* parallax__dot */
.parallax__dot {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: rgba(0,0,0,0.4);
    padding: 20px 10px;
    border-radius: 30px;
}
.parallax__dot li {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 12px 8px;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
    text-indent: -9999px;
    transition: box-shadow .2s ease;
}
.parallax__dot li a {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    transition: transform .2s ease;
}
.parallax__dot li.active {
    box-shadow: 0 0 0 2px rgba(255,255,255,1);
}
.parallax__dot li.active a {
    transform: scale(0.4);
}
.parallax__dot li::marker {
    content: "";
}

/* .parallax__top */
.parallax__top {
    position: fixed;
    right: -200px;
    bottom: 20px;
    z-index: 1000;
}
.parallax__top a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,1);
    border-radius: 50%;
    color: #000;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}
.parallax__top a:hover {
    background-color: #000;
    color: #fff;
}
.parallax__top a.show {
    right: 20px;
}
.parallax__top.show {
    right: 20px;
}
.parallax__top:hover {
    background-color: #000;
    color: #fff;
}



/* 
    ::-webkit-scrollbar : 스크롤바 전체
    ::-webkit-scrollbar-thumb : 스크롤 막대
    ::-webkit-scrollbar-track : 스크롤 막대 외부
*/
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-thumb {
    background-color: #4a4a4b;
}
*::-webkit-scrollbar-track {
    background-color: #414142;
}




@media (max-width: 1200px) {
    .parallax__nav {
        padding: 10px;
        background-color: rgba(0,0,0,0.9);
        right: 10px;
        left: 10px;
        top: 10px;
        border-radius: 5px;
        text-align: center;
    }
    .parallax__nav li {
        margin: 2px;
    }
    .parallax__nav li a {
        font-size: 12px;
        padding: 0px 14px;
    }
}