body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
* {
    cursor: none;
}
.cursor {
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    pointer-events: none;
    user-select: none;
    cursor: none;
}
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(95, 94, 94, 0.3);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
#header h1 {
    font-size: 30px;
    line-height: 1;
    padding-top: 2px;
}

.icon__box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 50px 10px 10px 20px;
}
.icon__box > div {
    width: 50px;
    margin-bottom: 20px;
    text-align: center;
    /* cursor: pointer; */
}
.icon__box > div img {
    margin-bottom: 10px;
}
.icon__box > div span {
    display: inline-block;
    padding: 9px 2px 7px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.4);
    color: #fcc1f7;
}


/* footer */
#footer {}
#footer .info {
    position: fixed;
    left: 50%;
    bottom: 10px;
    font-size: 14px;
    color: #fff;
    transform: translateX(-50%);
    text-align: center;
}







