@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');
@import url('https://webfontworld.github.io/Cafe24Classictype/Cafe24ClassicType.css');
@import url('https://webfontworld.github.io/nongshim/Ansungtangmyun.css');
@import url('https://webfontworld.github.io/SaenggeoJincheon/SaenggeoJincheon.css');
@import url('https://webfontworld.github.io/crown/CrownMychew.css');
@import url('https://webfontworld.github.io/earlyfont/EF_Macho.css');
@import url('https://webfontworld.github.io/knps/KNPSBandali.css');
@import url('https://webfontworld.github.io/Noto/NotoSansKR.css');
@import url('https://webfontworld.github.io/chungbuk/CBNUJIKJI.css');
@import url('https://webfontworld.github.io/wando/WandoCleanSea.css');

/* reset */
* {
    margin: 0;
    padding: 0;
    color: #fff;
}

*, *::before, *::after{
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #222;
}
h1, h2, h3,h4,h5,h6 {
    font-weight: normal;
}

li, ul, ol {
    list-style: normal;
}
img {
    vertical-align: top;
    width: 100%;
}
em {
    font-style: noprmal;
}
.font01 {
    font-family: "NexonLv1Gothic";
    font-weight: 300;
}
.font02 {
    font-family: "Cafe24ClassicType";
}
.font03 {
    font-family: "Ansungtangmyun";
}
.font04 {
    font-family: "SaenggeoJincheon";
}
.font05 {
    font-family: "CrownMychew";
}
.font06 {
    font-family: "EF_Macho";
}
.font07 {
    font-family: "KNPSBandali";
}
.font08 {
    font-family: "NotoSansKR";
}
.font09 {
    font-family: "CBNUJIKJI";
}
.font10 {
    font-family: "WandoCleanSea";
}


/*  */


